# Ignore virtual environment
venv/
__pycache__/

# Ignore Pycharm
.idea/

#Ignore pytest
.pytest_cache/

# Ignore WIP EXE dumps
/EXE Rev-Engineering

# Ignore setup.py stuff
src/**.egg-info/*
dist/*

# Ignore debug-dev dumped Binary files (Files saved to cwd for fast examination)
src/scripts/*.bin
ignore/texconv.exe
# Test Sources on File System
tests/**/sources.json
